body{
    background-color: black;
    overflow: hidden;
}

.stars{
    position: absolute;
}
.trail {
    position: absolute;
    width: 20px;
    height: 20px;
    filter: blur(10px);
    background-color: hotpink;
}